*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    height: 30px;
    width: 60px;
}

.nav-link{
    color: white;
}
 .img-banner{
    height: 150px;
    width: 100%;
 }

 main{
    background: rgb(255, 255, 255);
 }


 .card{
    height: 350px;
 }
 .img-card{
    height: 40%;
 }

 .social-Network{
    height: 30px;
 }
 .details{
    margin-top: 110px;
    margin-bottom: 105px;
 }
 .imgDetails{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }

 .imgDetails:hover{
    scale: 1.1;
 }